@import url('https://fonts.googleapis.com/css?family=Roboto:100,300');
:root {
    --blue-color:#636ff7;
    --grey1-color: #f7f8fb;
    --grey2-color: #ddd;
    --grey4-color: rgb(168, 168, 168)
}


.container {
    position: relative;
    top: 30px;
    width: auto;
    margin: 0 auto;
}

.minutes-set {
    float: left;
    margin-right: 28px;
}
.seconds-set {
    float: right;
}
.controlls {
    position: absolute;
    left: 75px;
    top: 75px;
    text-align: center;
}
.controlls2 {
    position: absolute;
    left: 50px;
    top: 35px;
    text-align: center;
}
.display-remain-time {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 30px;
    color: var(--blue-color);
}

.display-percentage {
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 25px;
    color: var(--grey4-color);
    position: absolute;
    left: -14px;
    top: -3px;

}



.e-c-base {
    fill: none;
    stroke: #B6B6B6;
    stroke-width: 4px
}
.e-c-progress {
    fill: none;
    stroke: var(--blue-color);
    stroke-width: 4px;
    transition: stroke-dashoffset 0.7s;
}
.e-c-progress2 {
    fill: none;
    stroke: var(--blue-color);
    stroke-width: 4px;
    transition: stroke-dashoffset 0.7s;
}
.e-c-pointer {
    fill: #FFF;
    stroke: var(--blue-color);
    stroke-width: 2px;
}
#e-pointer {
    transition: transform 0.7s;
}